/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.container {
  max-width: 100%;
  /* padding-right: 20%; */
  /* padding-left: 20%; */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

input[type="text"] {
  padding: 3px; /* reduce padding */
  border: 1px solid #ccc;
  border-radius: 3px; /* reduce border radius */
  width: 200px; /* reduce width */
}


button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.highlight {
  background-color: yellow;
}

#search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-bar input[type="text"],
#search-bar button {
  margin-right: 10px;
}

#search-bar button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#search-bar button:hover {
  background-color: #1e88e5;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: #1e88e5;
}

#prev-btn {
  right: 80px;
}

#next-btn {
  right: 20px;
}

#search-count {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 300px; /* Increase the width as needed */
  height: 150px; /* Set a fixed height */
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transition: opacity 1s ease-in-out;
}

/* Style the image to fit into the container */
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the slide area, and might crop the image if it doesn't fit */
  transition: opacity 1s ease-in-out;
}

/* Caption Styles */
.caption {
  position: absolute;
  bottom: 0;
  left: 0; /* Align left edge with the image */
  right: 0; /* Align right edge with the image */
  background: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
  color: #fff;
  text-align: center;
  padding: 5px; /* Reduced padding */
  font-size: 0.8em; /* Smaller font size */
  border-radius: 5px; /* Adjusted border-radius */
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Subtle shadow */
  font-family: 'Arial', sans-serif; /* Font choice */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px; /* Adjust if necessary */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 10; /* Ensure arrows are above the images */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Responsive positioning of the prev/next buttons */
@media only screen and (max-width: 300px) {
  .prev, .next {
    font-size: 11px;
  }
}

/* Timeline CSS */
.timeline {
  position: relative;
  padding-left: 20px;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 2px;
  background: #C5CAE9; /* Color of the vertical line */
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px; /* Reduced to bring content closer */
}

.timeline-content {
  padding-left: 15px; /* Reduced to bring content closer */
}

.timeline-dot.year-dot {
  position: absolute;
  left: -25px; /* Move the dot to the left of the timeline */
  top: 4px; /* Adjust vertically as needed */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #007bff; /* Blue color for year dots */
}

.timeline-date {
  margin-bottom: 5px;
  font-weight: bold;
}

.timeline-date.month {
  font-size: 0.9em;
}

.timeline-date.year {
  font-size: 1.2em;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  /* Adjust these values as well if needed for mobile responsiveness */
  .timeline {
    padding-left: 15px;
  }

  .timeline-content {
    padding-left: 15px;
  }

  .timeline-dot.year-dot {
    left: -8px; /* Adjust if needed */
  }
}

/* News-Journal CSS */
.newsjournal {
  position: relative;
  padding-left: 20px;
  list-style: none;
}

.newsjournal:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 2px;
  background: #C5CAE9; /* Color of the vertical line */
}

.newsjournal-item {
  margin-bottom: 20px;
}

.newsjournal-dot {
  position:relative;
  left: -26px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3F51B5; /* Color of the dots */
  top: 5px;
}

.newsjournal-container {
  display: flex;
  align-items:center;
  justify-content:left;
}

.newsjournal-month {
  padding-left: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.newsjournal-year {
  font-size: 20px; /* Smaller than the main title */
  margin-top: 20px; /* Spacing before the year heading */
  margin-bottom: 15px; /* Spacing after the year heading */
  font-weight: bold;
  margin-left: -10px;
}

.newsjournal-content {
  padding-left: 40px;
}

/* Optional responsive adjustments */
@media (max-width: 600px) {
  .newsjournal {
    padding-left: 25px;
  }

  .newsjournal:before {
    left: 10px;
  }

  .newsjournal-dot {
    left: -8px;
  }

  .newsjournal-content {
    padding-left: 25px;
  }
}

/* Style for the papers section */
.papers-by-year h2 {
  font-size: 20px; /* Smaller than the main title */
  border-bottom: 1px solid #ccc; /* Light line under the year */
  padding-bottom: 5px; /* Spacing from the line */
  margin-top: 20px; /* Spacing before the year heading */
  margin-bottom: 15px; /* Spacing after the year heading */
}

.papers-list {
  list-style-type: none;
  padding-left: 0;
}

.papers-list li {
  position: relative; /* Make the list item a relative container for absolute children */
  margin-bottom: 10px; /* Spacing between paper entries */
  padding-right: 120px; /* Provide space for the badge */
}

.papers-list li::before {
  content: "•"; /* Bullet */
  color: #1772d0; /* Bullet color */
  font-weight: bold; /* Bold bullet */
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.best-demo-badge {
  background: linear-gradient(45deg, #FFC107, #FFD700, #FFC107, #FFD700);
  background-size: 200% 200%;
  color: #333;
  font-size: 0.8em;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  /*vertical-align: super;*/
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #C5A358;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  animation: shine 2s ease-in-out infinite;
}

.best-demo-badge::after {
  content: '';
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  background: linear-gradient(45deg, #fff4d6, #fff, #fff4d6, #fff);
  border-radius: 0.3em;
  z-index: -1;
  opacity: 0.7;
  filter: blur(5px);
}

.best-demo-badge:hover::after {
  animation: glow 2s ease-in-out infinite;
}

@keyframes shine {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

@keyframes glow {
  0%, 100% { opacity: 0.7; filter: blur(5px); }
  50% { opacity: 0.9; filter: blur(10px); }
}


.paper-title {
  font-size: 16px; /* Size of the paper title */
  font-weight: bold;
  display: block; /* Make the title go on a new line */
  margin-bottom: 0.5em;
}

.paper-meta {
  font-style: italic;
  color: #555;
  font-size: 14px; /* Smaller font size for meta */
}

.paper-authors {
  color: #333;
  font-size: 14px;
}

.papers-list a {
  color: #1772d0;
  text-decoration: none;
}

.papers-list a:hover {
  text-decoration: underline;
}



.tag {
  display: inline-block;
  background-color: #ddd; /* A light gray background */
  color: #333; /* Dark text color */
  font-size: 0.75em; /* Smaller font size for the tags */
  padding: 2px 4px; /* Smaller padding for a compact look */
  margin-left: 5px; /* Reduced space between tags and other elements */
  border-radius: 2px; /* Slightly rounded corners for the tag boxes */
  vertical-align: middle; /* Aligns tags with the baseline of text */
}

/* Specific tag styles */
.tag-type { background-color: #e74c3c; color: white; } /* Red background with white text */
.tag-method { background-color: #3498db; color: white; } /* Blue background with white text */
.tag-domain { background-color: rgb(9, 189, 84); color: white; } /* Blue background with white text */
/* Continue to add more specific styles for different tags */

.legend {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Wrap items to next line as needed */
  align-items: flex-start; /* Align items at the top */
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sub-topics {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust number of columns as needed */
  gap: 5px;
  padding-left: 20px; /* Indent sub-topics for hierarchy */
}

.sub-topics p {
  margin: 0;
  padding: 2px 5px;
  background-color: #ecb2b2; /* Light background for sub-topics */
  border-radius: 3px;
  font-size: 0.9em; /* Slightly smaller font size for sub-topics */
}

.tag-method + .sub-topics p {
  background-color: #a1cef0; /* Lighter shade of blue */
}

.tag-domain + .sub-topics p {
  background-color: #9deec7; /* Lighter shade of green */
}

.reset-item {
  /* Remove margins and paddings that may affect centering */
  margin: 0;
  padding: 0;
  border-left: none;
  /* Center the button by setting it to flex */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  order: 3; /* Ensure it comes after the legend-items */
  width: 100%; /* Take the full width to align the button correctly */
}

/* Updated style for the reset button */
.legend .reset-filters {
  background-color: #f9f9f9; /* Slightly different background to stand out */
  border: 4px solid #ccc; /* Subtle border for the button */
  border-radius: 5px;
  margin: 10px 0;
  padding: 3px 8px;
  font-size: 0.8em; /* Smaller font size */
  display: inline-block;
}

/* Enhanced hover effect for tags and reset button */
.legend .sub-topics p:hover, .legend .tag:hover, .legend .reset-filters:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out, text-decoration 0.2s ease-in-out;
}

/* Style for the horizontal line */
.legend-divider {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%; /* Full width of the container */
  order: 2; /* Place it between the items and the button */
}

/* Funding Section Styles */
.funding-list {
  list-style-type: disc; /* Enable standard bullet points */
  padding-left: 20px; /* Add padding to align the bullet points */
  margin: 0 0 20px;
}

.funding-list li {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove borders */
  padding: 5px 0; /* Adjust padding */
  margin-bottom: 5px; /* Adjust bottom margin */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
}

.funding-list li span.tag {
  display: inline-flex;
  align-items: center;
  padding: 3px 8px; /* Padding for smaller box */
  margin-right: 3px; /* Margin for closer spacing */
  border-radius: 6px; /* Subtle rounded corners */
  font-size: 0.75em; /* Smaller font size */
  color: white;
  font-weight: bold;
}

/* Fund Type Tag */
.tag-fund-type {
  background-color: #2196F3;
}

.tag-fund-type::before {
  content: '\f0d6'; /* FontAwesome icon code for a gift */
  font-family: 'Font Awesome 5 Free'; /* Specify FontAwesome */
  margin-right: 3px; /* Spacing between icon and text */
}

/* Fund Source Tag */
.tag-fund-source {
  background-color: #FF9800;
}

.tag-fund-source::before {
  content: '\f1ad'; /* FontAwesome icon code for a building */
  font-family: 'Font Awesome 5 Free'; /* Specify FontAwesome */
  margin-right: 3px; /* Spacing between icon and text */
}

/* Research Spotlight Styles */
.research-spotlight {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #f9f9f9; /* Light background */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.research-spotlight:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.spotlight-title {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

.poster-thumbnail {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.poster-thumbnail:hover {
  transform: scale(1.1);
}


.highlight-planning {
  border: 2px solid red;
  background-color: #f9e4e4; /* Light red background */
  padding: 10px; /* Optional: for some spacing around the content */
  margin-bottom: 10px; /* Optional: space between boxes */
}

.highlight-rating {
  border: 2px solid rgb(144, 0, 255);
  background-color: rgb(232, 215, 245); /* Light red background */
  padding: 10px; /* Optional: for some spacing around the content */
  margin-bottom: 10px; /* Optional: space between boxes */
}

.highlight-others {
  border: 2px solid rgb(255, 217, 0);
  background-color: rgb(245, 240, 220); /* Light red background */
  padding: 10px; /* Optional: for some spacing around the content */
  margin-bottom: 10px; /* Optional: space between boxes */
}

/* Style for activities section */
.activities {
  position: relative;
  padding-left: 20px;
  list-style: none;
}

.activities-item {
  margin-bottom: 20px;
}

.activities-container {
  display: flex;
  align-items:center;
  justify-content:left;
}

.activities-year {
  padding-left: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.activities-type {
  font-size: 20px; /* Smaller than the main title */
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; /* Light line under the activity type */
  font-weight: bold;
  margin-left: -10px;
}

.activities-content {
  padding-left: 40px;
}

.activities-content-title{
  font-weight: bold;
}

.activities-content-event{
  font-style: italic;
}

.activities-content-members{

}

.activities-content-month, .activities-content-misc{
  visibility: hidden;
}

