.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.member-card {
    width: 250px; /* Adjusted card width */
    height: 320px; /* Set a fixed height */
    margin: 20px;
    background-color: #f8f8f8; /* Slightly off-white for contrast */
    border: 1px solid #e0e0e0; /* Light border for definition */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Stronger shadow for depth */
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px; /* Reduce the bottom padding */
    background: linear-gradient(135deg, #f8f8f8, #e0e0e0);
}

@media screen and (max-width: 600px) {
    .member-card {
        width: 100%; /* Full width on small screens */
    }
}

/* Tag Styling */
.tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    font-size: 0.8em;
}

/* Add styling for the divider */
.divider {
    height: 2px;
    background-color: #007bff; /* Color of the divider */
    margin: 10px 0; /* Adjust spacing as needed */
}

.member-card:hover {
    transform: scale(1.02); /* Scale up card on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Increase shadow */
}

/* Profile Image Styling */
.member-image {
    width: 100px; /* Adjusted size */
    height: 100px;
    border-radius: 50%;
    margin-top: -50px; /* Adjust if necessary */
    border: 3px solid white; /* Creates a nice border effect */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: relative; /* Adjust positioning */
    z-index: 2; /* Ensures it's above other elements */
}

.member-info {
    margin-top: 10px;
}

.member-name {
    font-size: 1.4em; /* Increase font size */
    font-weight: bold;
    margin-bottom: 10px; /* Add spacing below name */
}

.member-links {
    margin-top: 15px; /* Add more spacing above links */
}

.member-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold; /* Make links bold */
    transition: color 0.3s ease; /* Add smooth transition */
}

.member-links a:hover {
    color: #0056b3; /* Darker color on hover */
    text-decoration: underline;
}
