/* To display images in a grid */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

/* Responsive Grid */
@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid img,
    .grid figcaption {
        width: 100%;
        /* Adjust width for mobile */
        height: auto;
    }
}

.grid img {
    width: 120px;
    height: 150px;
}

.grid figcaption {
    width: 320px;
    height: auto;
}