/* To display images in a grid */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.grid img {
    width: 120px;
    height: 150px;
}

.grid figcaption {
    width: 320px;
    height: 150px;
}